# cd /Users/dipen/projects/_projects/solis_app/solis-laravel && php ./artisan serve --host=0.0.0.0 --port=8000
# cd /Users/dipen/projects/_projects/solis_app/solis-react && npm start

REACT_APP_API_URL=http://localhost:8000/api
REACT_APP_BASE_URL=http://localhost:3000
